# Module 2: Multi-Agent System
# Geoffrey Jones Okwi
langchain==0.3.19
langchain-core==0.3.51
langchain-groq==0.2.4
langgraph==0.2.73
groq==0.13.1
duckduckgo-search==6.3.7
sentence-transformers==3.0.1
faiss-cpu==1.14.2
streamlit==1.45.1
python-dotenv==1.0.1
pydantic==2.9.2
numpy==1.26.4
